@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Inconsolata', monospace;
}
#backgroundConf{
	height: 100vh;
	background-size: cover;
	background-position: center;
}
#backgroundConfObras{
	height: 200vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30% 20%;
	background-attachment: fixed;
}
.negro{
	background-color: rgba(0, 0, 0, 0.7);
}
.negro-borde{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3rem;
}
.imagen1{
	background-image: url('../Imagenes/chainsaw-man.jpg');
}
.imagen2{
	background-image: url('../Imagenes/chainsaw-bat.jpg');
}
.imagen3{
	background-image: url('../Imagenes/firepunchF2.jpg');
	background-position: 20%;
}
.imagen4{
	background-image: url('../Imagenes/lookbackFondo.jpg');
}

/*HEADER*/
nav{
	background-color: #F2EA30;
}
.navbar-brand{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5rem;
}
.header{
	grid-area: head;
	background-color: #F2EA30;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header a{
	text-decoration: none;
}
.logo{
	padding: 0 50px;	
	margin: 2% 5% 2% 5%;
}
.logo a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5rem;
	color: black;
}
.navegacion{
	flex-grow: 1;
}
.navegacion ul{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-size: 1.5rem;
}
.navegacion a{
	color: #999999;
}
.navegacion ul a:hover{
	color: black;
}
.selected a{
	color: black;
}

/*CONTENT*/
.roboto{
	font-family: 'Roboto Condensed', sans-serif;
}
.font-g{
	font-size: 6rem;
}
.content{
	grid-area: contenido;
	display: flex;
}
.texto1{
	background-color: rgb(202 114 112);
	color: white;
}
.texto1 p{
	padding: 1rem;
}
.texto{
	color: white;
	margin: 0 1rem 0 1rem;
	padding: 0.3rem;
	border-radius: 0.3rem;
}
.texto p{
	margin: 0;
}
.titulo{
	height: 100vh;
	width: 100vw;
	font-size: 7rem;
	background-color: rgba(59, 64, 59, 0.7);
	color: white;
	font-weight: bold;
}
.carousel {
 	width: 400px; 
	height: 591px; 
}

/*FOOTER*/

.footer{
	font-family: 'Roboto Condensed', sans-serif;
	grid-area: footer;
	background-color: #E61997;
}
.redes{
	display: inline-block;
	margin: 2% 10% 2% 10%;
}
.footer{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer span{
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	margin-bottom: 5%;
}
.footer a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}
.redes div{
	display: inline-block;
}
.redes a{
	color: #00008d;
}
.block{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;
}
.block a:hover{
	color: black;
}
.contacto{
	display: flex;
	align-items: center;
	background-color: #ccc;
	border-radius: 7px;
	margin: 2% 2% 2% 2%;
}
.contacto a{
	font-size: 1.5rem;
}
.pag div{
	height: 30vh;
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
}
@media all and (max-width: 768px){
	.logo{
		padding: 5px;
	}
	.logo a{
		font-size: 1rem;
	}
	.navegacion ul{
		font-size: 0.8rem;
	}
	.texto1{
		font-size: 0.8rem;
		height: auto;
		padding: 1px;
	}
	.footer .redes{
		font-size: 0.8rem;
	}
	.footer .contacto a{
		font-size: 0.8rem; 
	}
	#backgroundConfObras{
		height: auto;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		background-position: right;
	}
	.texto{
		font-size: 0.8rem;
		margin: 10px 8px;
	}
	.titulo{
		font-size: 1.2rem;
	}
	#backgroundConfObras img{
		height: 200px;
		width: 133px;
	}
	.sup div{
		display: flex;
		justify-content: center;
	}
}